{% extends 'base.html' %}

{% block content %}
	{% include 'alert.html' %}

	<h1>Clients page</h1>
	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            <br/>
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.company.label(class="form-label") }}
            {{ form.company(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          	<th scope="col">Phone</th>
          	<th scope="col">Name</th>
          	<th scope="col">Company</th>
          	<th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for client in our_clients %}
        <tr>
            <td>{{ client.client_phone }}</td>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_company }}</td>
            <td colspan="2"><a href="{{ url_for('update_client', client_phone=client.client_phone) }}">{{ form.edit(class="btn btn-secondary") }}</a> 
            {{ form.delete(class="btn btn-secondary") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}