{% extends 'base.html' %}

{% block content %}
	{% for message in get_flashed_messages() %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {{ message }}
        </div>
    {% endfor %}

	<h1>Clients page</h1>
	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            <br/>
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.company.label(class="form-label") }}
            {{ form.company(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Phone</th>
          <th scope="col">Name</th>
          <th scope="col">Company</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for client in our_clients %}
        <tr>
            <td>{{ client.client_phone }}</td>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_company }}</td>
            <td colspan="2">{{ form.edit(class="btn btn-secondary") }} 
            {{ form.delete(class="btn btn-secondary") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}